/* About CSS Document */
@charset "UTF-8";

h1, h2, h3, h4, h5, h6, {
  font-family:'Montserrat', sans-serif;
}

  h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size:100px;
    color:#fed136;
  }

  h2 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 800;
      font-size:80px;
      color:#212529;

    }

  h3 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size:60px;
      color:#212529;
    }


  h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size:30px;
    color:#fed136;
    }

  h5 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 800;
      font-size:30px;
      color:#212529;
    }

  h6 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size:20px;
      color:#212529;
    }

  header {
      display:flex;
      justify-content:space-between;
      padding:0 20px;
      position:sticky;
      top:0;
      background-color:#212529;
}

header nav ul {
  display:flex;
  justify-content:space-between;
  list-style-type:none;
}

header nav a {
  text-decoration:none;
  display:block;
  padding:25px 20px;
  color:#f8f9fa;
  font-size:20px;
  font-family: 'Montserrat';
  font-style: normal;
}

.navhome {
  text-decoration:none;
  position: absolute;
  left: 80%;
  top: 25px;
  text-align: right;
  color:#fed136;
  display: flex;

}

.serviceslink:hover {
  background-color:#fed136;
}

.portfoliolink:hover {
 background-color:#fed136;
}

.aboutlink:hover {
 background-color:#fed136;
}

.teamlink:hover {
 background-color:#fed136;
}

.contactlink:hover {
 background-color:#fed136;
}


body {
  background-color:white;
  font-family: 'Roboto',
  color:#gray;
  font-size: 30px;
  font-style: italic;

}

#about {

  padding:20px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin:0 auto;

}

.aboutinfo {
  color: gray;
  text-align: center;
  display: flex;
  justify-content: center;
  margin:0 auto;
  font-style: italic;

}

.timelineinfo {
  color: gray;
  text-align: center;
  display: flex;
  margin:0 auto;
  font-style: italic;

}

.rounded-circle {
  border-radius: 100%!important;
  border-top-left-radius: 100%!important;
  border-top-right-radius: 100% !important;
  border-bottom-right-radius: 100% !important;
  border-bottom-left-radius: 100%!important;


}

.img-fluid {

    height: 200px;
    padding: 100px;
    border-style: solid;
    border-color: lightgray;
    border-width: thick;
    width: 50%;

}




main {
  flex:1;
  flex-wrap: wrap;

}

footer {
  color:#212529;
  display:flex;
  justify-content: space-between;
  width:100%;
  font-size: 16px;
  font-family: 'Roboto';
  font-style: normal;


}

.Copyright {
  text-align: left;
  color:#212529;
}

.PrivacyTerms {
  text-align: right;
  color:#fed136;
}
